<li class="collection-item row">
    <div class="input-field col s4">
        {{request.firstName}} {{request.lastName}}
    </div>
    <div class="input-field col s4">
        <b>{{request.regNo}}</b>
    </div>
    <div class="input-field col s2">
        <a class="waves-effect waves-light btn" [routerLink]="['/view',request.id]"> View </a>
    </div>
    <div class="input-field col s2">
        <a class="waves-effect waves-light btn" (click)="onDeletePress(request)">Delete</a>
    </div>
</li>