<div class="row">
  <form class="col offset-s2 s6" (ngSubmit)="onSubmit()" #requestForm="ngForm">
         <div class="row">
      <div class="input-field col s6">
        <input id="firstName"  class="validate" type="text" required [(ngModel)]="requestModel.firstName" name="firstName" >
        <label for="firstName">First Name</label>
      </div>
      <div class="input-field col s6">
        <input id="lastName" type="text" class="validate" required [(ngModel)]="requestModel.lastName" name="lastName">
        <label for="lastName">Last Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="regNo" type="text" class="validate" required [(ngModel)]="requestModel.regNo" name="regNo">
        <label for="regNo">Vehicle Registeration No</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="mobileNum" type="text" class="validate" required [(ngModel)]="requestModel.mobileNum" name="mobileNum">
        <label for="mobileNum">Mobile Number</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <textarea id="address" class="materialize-textarea" required [(ngModel)]="requestModel.address" name="address"></textarea>
        <label for="address">Address</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input type="date" id="pickUpDate" class="datepicker" required [(ngModel)]="requestModel.pickUpDate" name="pickUpDate">
        <label for="pickUpDate" >Pick-Up Date</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input type="date" id="returnDate" class="datepicker" required [(ngModel)]="requestModel.returnDate" name="returnDate">
        <label for="returnDate" >Return Date</label>
      </div>
    </div>
    <button class="btn waves-effect waves-light" type="submit"  [disabled]="!requestForm.form.valid">Submit
      <i class="material-icons right">send</i>
  </button>
  </form>
</div>