<div class="row">
    <form class="col offset-s2 s6">
      <div class="row">
        <div class="input-field col s6">
          <input id="first_name" type="text" class="validate">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="regNo" type="text" class="validate">
          <label for="regNo">Vehicle Registeration No</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="mobNum" type="text" class="validate">
          <label for="mobNum">Mobile Number</label>
        </div>
      </div>
     
      <div class="row">
        <div class="input-field col s12">
          <textarea id="address" class="materialize-textarea"></textarea>
          <label for="address">Address</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
      <input type="date" id="pickupDate" class="datepicker">
      <label for="pickupDate" class="active">Pick-Up Date</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
      <input type="date" id="returnDate" class="datepicker">
      <label for="returnDate" class="active">Return Date Date</label>
        </div>
      </div>
    </form>
  </div>
